.column {

  &__heading {
    margin: 0;
  }

  &__wrapper {
    background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 32%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%);
  }

  &--left {
    flex-grow: 1;
    box-sizing: border-box;
    width: 328px;
    margin: 0;
    padding-left: 60px;
    padding-right: 68px;
    padding-top: 86px;
  }

  &--right {
    margin-left: 72px;
    box-sizing: border-box;
    width: 832px;
  }

  &__container {
    .container();
    display: flex;
    flex-direction: row;
  }


  &__caption {
    margin: 0;
    font-size: 19px;
    line-height: 20px;
    font-family: Gilroy, serif;
    font-weight: 800;
    color: black;

    &--margin {
      margin-bottom: 26px;
    }
  }

  &__filter {
    position: relative;


    &::after {
      position: absolute;
      top: -16px;
      left: 0;
      content: "";
      width: 200px;
      height: 2px;
      background-color: black;
    }
  }

  &__range {
    position: relative;
    margin-top: 32px;
    margin-bottom: 62px;
  }

  &__scale {
    width: 200px;
    height: 2px;
    background-color: #dcdcdc;
  }

  &__bar {
    width: 110px;
    height: 2px;
    background-color: #72ca00;
  }

  &__toggle {
    &--min {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 10px;
      height: 10px;
      border: 2px solid black;
      border-radius: 50%;
      background-color: #efefef;

      &::before {
        position: absolute;
        top: 10px;
        content: "От 0";
        width: 48px;
        color: black;
        opacity: 0.2;
      }

      &:active {
        background-color: #63b000;
        border: 2px solid white;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,0.75);
      }
    }

    &--max {
      content: "";
      position: absolute;
      right: 76px;
      top: -5px;
      width: 10px;
      height: 10px;
      border: 2px solid black;
      border-radius: 50%;
      background-color: #efefef;

      &::before {
        position: absolute;
        top: 10px;
        content: "До 5000";
        width: 57px;
        color: black;
        opacity: 0.2;
      }

      &:active {
        background-color: #63b000;
        border: 2px solid white;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,0.75);
      }
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 200px;
      height: 2px;
      background-color: black;
    }
  }

  &__checkbox {
    display: none;
  }

  &__label {
    position: relative;
    font-size: 14px;
    line-height: 40px;
    color: black;
    padding-left: 40px;

    &::before {
      position: absolute;
      left: 0;
      top: 8px;
      content: "";
      width: 23px;
      height: 23px;
      background-color: #dcdcdc;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      top: 17px;
      left: 6px;
      width: 12px;
      height: 7px;
      background-image: data-uri("image/svg+xml;charset=UTF-8","../img/icon-tick.svg");
    }

    &--radio {
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 8px;
        content: "";
        width: 19px;
        height: 19px;
        border: 2px solid #c9c9c9;
        border-radius: 50%;
        background-color: #f0f0f0;
      }

      &::after {
        display: none;
        position: absolute;
        content: "";
        top: 15px;
        left: 7px;
        width: 5px;
        height: 5px;
        border: 2px solid black;
        border-radius: 50%;
        background-image: none;
      }
    }
  }

  &__checkbox:checked + &__label::after {
    display: block;
  }

  &__radio:checked + &__label--radio::after {
    display: block;
  }

  &__bluetooth {
    display: flex;
    position: relative;
    padding-top: 16px;
    padding-bottom: 40px;
    flex-direction: column;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 200px;
      height: 2px;
      background-color: black;
    }
  }

  &__radio {
    display: none;
  }

  &__btn {
    z-index: 2;
    width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  &__catalog-btn {
    display: none;
    position: absolute;
    top: 170px;
    left: 80px;

    &--small {
      color: black;
      opacity: 0.5;
      top: 225px;
      left: 108px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.2;
      }
    }
  }

  &__catalog-item {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    width: 360px;
    min-height: 438px;
    margin-bottom: 24px;

    &:nth-child(odd) {
      margin-right: 40px;
    }

    &::after {
      display: none;
      position: absolute;
      width: 360px;
      height: 380px;
      top: 0;
      content: "";
      background-color: rgba(255,255,255,0.7);
    }

    &:hover::after {
      display: block;
    }

    &:hover .column__catalog-btn {
      display: block;
      z-index: 10;
    }
  }





  &__catalog-photo {
    vertical-align: top;
  }

  &__catalog-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__catalog-name {
    font-size: 19px;
    line-height: 20px;
    font-family: Gilroy, serif;
    font-weight: 800;
    color: black;
  }

  &__catalog-price {
    font-size: 16px;
    line-height: 18px;
    color: @text-color;
    font-family: Gilroy, serif;
    font-weight: 400;
  }

  &__pagination {
    width: 760px;
    background-color: #ebebeb;
    margin-bottom: 74px;
  }

  &__pagination-list {
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;


  }

  &__pagination-item {
    &--first {
      box-sizing: border-box;
      width: 126px;
      margin-right: auto;

      &:hover {
        background-color: #d9d9d9;
        color: rgba(0,0,0, 1);
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--last {
      box-sizing: border-box;
      width: 126px;
      margin-left: auto;

      &:hover {
        background-color: #d9d9d9;
        color: rgba(0,0,0, 1);
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__pagination-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    font-family: Gilroy,serif;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;

    &--center {
      width: 40px;
      opacity: 0.3;
    }

    &--active {
      opacity: 1;
    }
  }
}
