.main-nav {
  &__user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &--login {
      width: 280px;
      margin-left: auto;
    }

    &--compare {
      width: 120px;
    }

    &--cart {
      width: 100px;
    }
  }
}
