.search-form {
  display: flex;

  &__input {
    padding: 0;
    padding-left: 40px;
    width: 315px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    background-image: data-uri("image/svg+xml;charset=UTF-8","../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 1;
      border-color: black;
    }

    & + .search-form__btn:active,
    &:focus + .search-form__btn {
      display: block;
    }
  }

  &__btn {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 36px;
    color: @text-color--second;
    background-color: transparent;
    border: 2px solid black;
    outline: none;

    &:hover {
      background-color: black;
      color: white;
    }

    &:active {
      background-color: black;
      color: rgba(255,255,255,0.3);
    }
  }
}
