.slider {
  position: relative;
  margin-top: -111px;
  padding-left: 90px;
  padding-right: 60px;
  margin-bottom: 100px;

  &__control {
    display: none;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    height: 10px;
    position: absolute;
    right: 82px;
    top: 330px;
    z-index: 10;
  }



  &__label {
    display: block;
    width: 4px;
    height: 4px;
    border: 3px solid #b2b2b2;
    border-radius: 50%;
    background: white;

    &:hover {
      border-color: #999999;
    }
  }

  #slide-1:checked ~ &__controls &__label[for="slide-1"],
  #slide-2:checked ~ &__controls &__label[for="slide-2"],
  #slide-3:checked ~ &__controls &__label[for="slide-3"] {
    border-color: #000000;
  }

  #slide-1:checked ~ &__page--first {
    display: flex;
  }

  #slide-2:checked ~ &__page--second {
    display: flex;
  }

  #slide-3:checked ~ &__page--third {
    display: flex;
  }

  &__image {
    position: relative;
    width: 400px;
    margin-right: 0;
  }

  &__page {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;

    &--first {
      &::before {
        position: absolute;
        top: -13px;
        right: -10px;
        content: "01";
        font-family: Gilroy, serif;
        font-size: 179px;
        line-height: 179px;
        font-weight: 800;
        letter-spacing: 0.01em;
        color: white;
      }
    }

    &--second {
      &::before {
        position: absolute;
        top: -13px;
        right: -10px;
        content: "02";
        font-family: Gilroy, serif;
        font-size: 179px;
        line-height: 179px;
        font-weight: 800;
        letter-spacing: 0.01em;
        color: white;
      }
    }

    &--third {
      &::before {
        position: absolute;
        top: -13px;
        right: -10px;
        content: "03";
        font-family: Gilroy, serif;
        font-size: 179px;
        line-height: 179px;
        font-weight: 800;
        letter-spacing: 0.01em;
        color: white;
      }
    }
  }

  &__description {
    width: 500px;
    min-height: 450px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    position: relative;
    margin: 0;
    margin-bottom: 22px;
    font-size: 47px;
    line-height: 54px;
    font-family: Gilroy, serif;
    font-weight: 800;
    color: @text-color--second;

    &::before {
      content: "";
      top: -45px;
      left: 0;
      position: absolute;
      width: 100px;
      height: 7px;
      background-color: white;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  &__btn {
    margin-bottom: 55px;
  }

  &__info {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: row;
  }

  &__characteristics {
    display: flex;
    flex-wrap: wrap;
    width: 155px;
  }

  &__value {
    width: 100%;
    font-size: 36px;
    font-family: Gilroy, serif;
    font-weight: 400;
    color: @text-color--second;
  }
}
